body {
  display: flex;
  gap: 5px;
  justify-content: space-between;

  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  color: white;
  font-size: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
}
