.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: inline-block;
}

.box:first-child {
  float: left;
}

.box:nth-child(2) {
  margin: 0 23%;
}

.box:last-child {
  float: right;
}
