/* img {
  display: block;
} */

.father {
  display: grid;
  gap: 10px;
  height: 100vh;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.child {
  background-color: tomato;
  display: flex;
  color: white;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}
