@import "./reset.scss";

/* img {
  display: block;
} */

body {
  background-color: #a5abae;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 960px;
    height: 640px;
    background-color: #32363a;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2px;
    overflow: hidden;

    .buttons {
      z-index: 10;
      display: flex;
      gap: 7px;
      position: absolute;
      top: 15px;
      left: 15px;

      .button {
        width: 10px;
        height: 10px;
        border: 1.5px solid #32363a;
        border-radius: 50%;

        &:first-child {
          background-color: #32363a;
        }
      }
    }

    .grid-summary {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(4, 1fr);
      gap: 2px;

      .grid-summary-item {
        background-color: #dde1e5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &:nth-child(2),
        &:nth-child(5) {
          grid-row: span 2;
        }

        .grid-summary__col {
          position: absolute;
          padding: 15px;
          box-sizing: border-box;
          display: flex;
          width: 100%;
          justify-content: space-between;
          bottom: 0;
        }
      }
    }

    .grid-detail {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 2.34fr 0.84fr 1.08fr 1.82fr 2.38fr;
      box-sizing: border-box;

      .grid-detail-item {
        text-transform: uppercase;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        font-size: large;
        background-color: #dde1e5;

        &:nth-child(2) {
          background-color: #e8ba10;
        }
        &:nth-child(3) {
          background-color: #73797e;
        }
        &:nth-child(4) {
          background-color: #de1800;
          color: #dde1e5;
        }
        &:nth-child(5) {
          background-color: #31269f;
          color: #dde1e5;
        }
      }
    }
  }
}
